<!doctype html>
<html>
<head>
  {% if title%}
  <title>Jokes4days - {{title}}</title>
  {% else %}
  <title>Jokes4days</title>
  {% endif %}
  <link rel ="stylesheet" href="static/style.css">
</head>
<header class=header>{%block content%}{%endblock content%}</header>
<body class = body>
  
  <nav class="navbar">
    <ul class="navbar_list">
      <li><a href=>Jokes4days</a></li>
      <li><a href=>Home</a></li>
      <li><a href=>About</a></li>
    </ul>

 {%block jokes%}{% endblock jokes%}
 {%block data%}{%endblock data%}

</body>
</html>